.box_contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.button {
    padding: 10px 30px;
    margin-top: 15px;
    width: 250px;
    border: 1px solid rgb(255, 255, 41);
    background-color: rgb(255, 255, 41);
    color: rgb(46, 46, 46);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: rgb(24, 151, 255);
    color: white;
    box-shadow: 2px 2px 4px gray;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 250px;
}
